#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}
.logo-img {
  width: 100px;
}
.logo {
  height: 6em;
  padding: 1%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #3a3fa1aa);
  animation: logo-spin infinite 2s linear;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #084f75;
  padding: 1%;

}

.container {
 background-color: #084f75;
}
.nav-links{
 padding: 1%;

}
.links{padding: 5px;
display: inline-block;
margin: 5px;
transition: 1s;
color: white;}

.links:hover{font-size: 1.5rem;}
